<style type="text/css">

			em {
				color: green;
				font-style: normal;
				background-color: lightgrey;
				font-weight: bold;
			}

			h1 {
				text-align: center;
				border: thick solid red;
				text-decoration: none;
				padding: 1ex;
				width: 50%;
				font-size: 24pt;
				color: red;
				font-family: tahoma, helvetica, sans-serif;
			}

			ul {
				list-style-type: square;
			}

			em {
				color: green;
				font-style: normal;
				background-color: lightgrey;
				font-weight: bold;
			}

			a:hover {
				text-decoration: none;
			}

			li:first-child{
				border: thick solid green;
				margin-bottom: 1em;
				margin-top: 1em;
				padding: 1ex;
				width: 40%;
			}

			p.centered {
				text-align: center;
				width: 50%;	 
			}

		
			

		</style>

		